<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader`s</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
     <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>

        body {
            font-family: 'Eras ITC', 'Eras Light ITC', sans-serif;
        }

        /* Additional styles for payment form */
        #payment-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #payment-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body class="">
<header>
   <div class="">  
      <nav class="bg-gray-800 fixed top-0 w-full z-50">
            <div class="container mx-auto px-4">
                <div class="flex justify-between items-center py-4">
                    <div class="text-white" style="font-family:Eras ITC , Eras Light ITC, sans-serif ;">
                        <h1 class="text-xl font-extrabold">Reader`s</h1>
                    </div>
                    <ul class="flex space-x-4">
                        {% if user %}
                            <li><a href="{{ url_for('logout') }}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Login</a></li>
                            <li><a href="{{ url_for('signup') }}" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Sign Up</a></li>
                        {% endif %}
                           
                    </ul>
                </div>
            </div>
        </nav>
</header><br/><br/>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-4 p-8">
        <div class="w-1/2">
            <h1 class="text-3xl font-semibold mb-6">Checkout</h1>

            {% if image_path %}
            <div class="flex items-center space-x-4 mb-6">
                <img class="w-16 h-16 rounded-full" src="{{ url_for('static', filename=image_path) }}" alt="Profile Picture" />
                <p>{{ user.username }}, {{ user.email }}</p>
                    
            </div>
            {% else %}
            <p>No profile picture available.</p>
            {% endif %}

            <div id="checkout-details" class="mb-8">
                <h2 class="text-xl font-semibold mb-2">Order Summary</h2>
                <p><span class="font-semibold">Title:</span> <span id="book-title"></span></p>
                <p><span class="font-semibold">Price:</span> <span id="book-price"></span></p>
                <img id="book-thumbnail" alt="Book Thumbnail" class="mt-4" style="width: 150px; height: 200px;">
          
            </div>     
        </div>

        <div class=" w-1/2">
         
            <form id="delivery-form">
                <label for="address">Address:</label>
                <input class="rounded-lg" type="text" id="address" name="address"disabled required placeholder="{{ user.address }}">

                <label for="contact">Contact Number:</label>
                <input class="rounded-lg" type="tel" id="contact" name="contact" required disabled placeholder="{{ user.contact }}"><br/>

                <label for="delivery-time">Delivery Time:</label><br/>
                <input class="rounded-lg" type="time" id="delivery-time" name="delivery-time" required>

      <br/>  <button id="payment-button">Proceed to Pay</button>

             </form>
        </div>
        <main class=" top-0 relative min-h-screen flex flex-col justify-center bg-slate-900 overflow-hidden">
            <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
                <div class="text-center">
    
        
                    <div class="font-extrabold text-3xl md:text-4xl [text-wrap:balance] bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200">Trusted by the most innovative minds in <span class="text-indigo-500 inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden">
                        <ul class="block animate-text-slide text-left leading-tight [&_li]:block">
                            <li>Finance</li>
                            <li>Tech</li>
                            <li>AI</li>
                            <li>Crypto</li>
                            <li>eCommerce</li>
                            <li aria-hidden="true">Finance</li>
                        </ul>
                    </span></div>
                    <!-- End: Sliding Text animation  -->
                    
                </div>
    
            </div>
        </main>
        
    </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get parameters from the URL
            var params = new URLSearchParams(window.location.search);
            var bookTitle = params.get('book');
            var bookPrice = params.get('price');
            var bookThumbnail = params.get('thumbnail');
            var razorpayOrderId = params.get('razorpay_order_id');
            var razorpayKey = params.get('razorpay_key');

            // Display checkout details
            document.getElementById('book-title').textContent = bookTitle;
            document.getElementById('book-price').textContent = bookPrice + '$';
            document.getElementById('book-thumbnail').src = bookThumbnail;

            // Add event listener for the form submission
            document.getElementById('delivery-form').addEventListener('submit', function (event) {
                event.preventDefault();

                // Get form data
                var formData = new FormData(document.getElementById('delivery-form'));
                // Add additional data if needed

                // Disable the form fields and button after submission
                Array.from(document.getElementById('delivery-form').elements).forEach((element) => {
                    element.disabled = true;
                });
                document.getElementById('submit-form').disabled = true;

                // Enable the payment button after form submission
                document.getElementById('payment-button').disabled = false;

                // Save form data to MongoDB (Assuming you have a server-side endpoint)
                // You need to replace '/saveFormData' with your actual server endpoint
                fetch('/saveFormData', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Form data saved:', data);
                })
                .catch(error => {
                    console.error('Error saving form data:', error);
                });
            });
        });
    </script>

<footer
        class=" bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
                class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li><a href="/about" class="hover:underline me-4 md:me-6">About</a></li>
            <li><a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a></li>
            <li><a href="#" class="hover:underline me-4 md:me-6">Licensing</a></li>
            <li><a href="#" class="hover:underline">Contact</a></li>
        </ul>
    </footer>
</body>

</html>
